# Flutter
*.pdb
*.dart_tool/
*.packages
*.pub-cache/
*.pubspec.lock
*.flutter-plugins
*.flutter-plugins-dependencies
build/
.dart_tool/
.pub/
pubspec.lock
ios/Podfile
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
android/.gradle/
android/.idea/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/app/build/
windows/
linux/
macos/
web/
*.iml
*.lock
*.log
*.swp
*.swo
.DS_Store
.vscode/
.idea/
*.code-workspace
Thumbs.db